*{
  background:"";
}

.containerI {
  position: relative;
  width: auto;
  max-width: 900px;

}

.containerI img {
  width: auto;
  height: auto;
}


.ghost-button { 
  display: inline-block; 
  width: 200px; 
  padding: 8px; 
  color: #fff; 
  border: 1px solid #fff; 
  text-align: center;
  outline: none;
  text-decoration: none; 
}
.containerI .btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 70px;
  max-width: 100px;
}

.b14k {
  top: 52%;
  left: 60%;
}
.bBiblioteca {
  top: 45%;
  left: 64%;
}
.b13k {
  top: 40%;
  left: 67%;
}
.b6k {
  top: 53.5%;
  left: 67.5%;
}
.b10k{
  top: 73.2%;
  left: 60.4%;
}
.b8k{
  top: 82%;
  left: 59.8%;
}
.b9k{
  top: 81%;
  left: 55%;
}
.bAcustica{
  top: 57%;
  left: 64.5%;
}
.b2k{
  top: 75%;
  left: 23%;
}
.b7k{
  top: 71%;
  left: 16.5%;
}
.b1k{
  top: 63%;
  left: 24%;
}
.b3k{
  top: 62%;
  left: 28%;
}
.b500{
  top: 59%;
  left: 25.2%;
}
.b200{
  top: 73%;
  left: 18.6%;
}
.bGim{
  top: 57%;
  left: 18.7%;
}
.bCasino{
  top: 51.3%;
  left: 15.5%;
}
.b4k{
  top: 59%;
  left: 9.1%;
}
.b100{
  top: 64.7%;
  left: 11.8%;
}
.bCabañas{
  top: 43.5%;
  left: 17.5%;
}
.b11k{
  top: 50.5%;
  left: 27.2%;
}
.b800{
  top: 46.5%;
  left: 28%;
}
.b5k{
  top: 46%;
  left: 25%;
}
.bEntrada{
  top: 30.5%;
  left: 73.15%;
}
.bKine{
  top: 24%;
  left: 80.7%;
}
.containerI .btn:hover {
  border: 2px solid black;
  background-color: rgba(0,0,0,0);
}

.button-container{
  display:inline-block;
  position:relative;
  }
  
.button-container a{
position: absolute;
bottom:4em;
right:4em;
background-color:#8F0005;
border-radius:1.5em;
color:white;
text-transform:uppercase;
padding:1em 1.5em;
}

body {
  padding: 0;
  margin: 0; 
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  background-color: #111;
}

h1{
  text-align: center;
  padding-bottom: 10px;
}
.container {
  padding: 0 2rem;
  color: #0070f3;
}

#MenuBarra{
  height: 100px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(33, 26, 171) 0%, rgba(195,196,238,1) 0%, rgba(140,180,136,1) 35%, rgba(137,212,227,1) 100%);  
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
/*
* Estilo barra busqueda incio
*/

.Scontainer{
  position: absolute;
  left: 55%;
  top: 130px;
}
.Scontainer input{
  opacity: 0;
  position:absolute;
  outline: none;
  box-sizing: border-box;
  right: 0px;
  width: 0;
  height:50px;
  padding: 0 20px;
  color: rgb(0, 0, 0);;
  border-radius: 50px;
  font-size: 20px;
  border:1px solid #155 ;
  transition: all 0.6s ease;
}
.Scontainer .Sbuton{
  position: absolute;
  right:1px;
  top: 0px;
  width: 50px;
  height: 50px;
  background:linear-gradient(90deg, rgba(140,180,136,1) 35%, rgba(137,212,227,1) 100%);
  border-radius:50px ;
  cursor: pointer;
}
.Scontainer .Sbuton .Sicon{
  opacity: 1;
  position: absolute;
  left: 15px;
  top: 15px;
}
.Scontainer .S2icon{
  opacity: 0;
  position: absolute;
  left: 15px;
  top: 15px;
}

.Scontainer:hover input{
  opacity: 1;
  width: 300px;
  transition: 1s;
}
.Scontainer:hover .Sicon{
  opacity: 0;
}
.Scontainer:hover .S2icon{
  opacity: 1;
}
.Scontainer:focus input{
  opacity: 1;
  width: 300px;
}

/*
* Estilo barra busqueda final
*/

/* Inicio Grid y cards*/
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card{
  margin: 0.3rem;
  padding: 1.5rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}
.card .card-content{
  position: absolute;
  content: hidden;
  overflow: hidden;
  text-align: center; 
  left: 0px;
  right: 0px;
  bottom:0px;
  width: 300px;
  height: 0;
  background: linear-gradient(90deg, rgb(33, 26, 171) 0%, rgba(195,196,238,1) 0%, rgba(140,180,136,1) 35%, rgba(137,212,227,1) 100%);
  opacity: 0;
  transition: 1s height;
}

.card-info h2{
  font-weight: bold;
}
.card-info a{
  font-weight: normal;
  text-decoration: underline;
}

.Container_grid:hover .card{
  filter: blur(2px);
  transition: 0.5s;
}

.Container_grid:hover .card:hover{
  filter: blur(0px);
  transition: 0.1s;

}


.card:hover .card-content {
  opacity: 1;
  transition: 2s ;
  height: 55px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-content{
  display: flexbox;
  margin: 1rem;
  padding: 1.5rem;
  max-width: 400;
  opacity: 1;
  color: #111;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

#searchBar{
  margin-left: 50rem;
  margin-right: 50rem;
  margin-top: 2rem;
}

#menuFooter{
  height: 100px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(31, 23, 170) 0%, rgba(195,196,238,1) 0%, rgba(140,180,136,1) 35%, rgba(137,212,227,1) 100%);  
}

#menuFooter #FooterButton{
  
  margin-top: 35px;
  margin-left: 300px;

}

/* Contenerdor mapa y lista */
.container2{
  display: flex;
}

#map{
  margin-right: 40px;
}

#list{
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
  top: 100px;
}
